---
---

@import "{{ site.theme }}";

/* CUSTOM STYLES */

section.page-header {
  background-image: url('../images/pogo-map-bg.jpg');
  background-size: cover;
}

.project-tagline {
  color: #606c71;
  border-bottom: 0;
  padding-bottom: 0;
}

h2 {
  border-bottom: 1px solid #eff0f1;
  padding-bottom: .5em;
}

img.pokeball-icon {
  width: 24px;
  height: 24px;
  margin: 0 1em;
}
